html {
  background-image: url("background.jpeg");
  background-repeat: repeat;
}

.background_image {
  background-image: url("background.jpeg");
  background-repeat: repeat;
}


.content{
  padding-top: 5px !important;
  width: auto;
  max-width: 1200px;
  height: auto;
  margin-left: 50px;
  margin-right: 50px;
  box-sizing: content-box;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #043551;
  font-family: Cursive, Brush Script MT !important;
  font-weight: bold;
}

table, th, td, tr {
  text-align: center;
  padding-left: 18.5px;
  /* border: 1px solid; */
  color: #043551;
  font-family: Cursive, Brush Script MT !important;
  font-weight: bold;
}

a {
  color: darkorange;
  font-family: Cursive, Brush Script MT !important;
  font-weight: bold;
}

a:hover{
  color: #98a6ac;
  text-decoration: none;
  font-family: Cursive, Brush Script MT !important;
  font-weight: bold;
}

.column {
  float: center;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
