{% extends 'ffwc_app/base.html' %}
{% block content %}

    <div class="row">
      <div class="column">
        <h4 style="color: darkorange; font-size: 116px; text-shadow: 2px -2px #043551;">FFWC</h4>
        <h4 style="color: lightgreen; font-size: 20px; text-shadow: 2px -2px #043551;">Friends & Family Weight Challenge</h4>
        <br>
        <div style="margin-top: -10px">
          <img src="/static/base/plots/graph_chart.png" alt="">
        </div>
      </div>
      <div class="column" style="float: right">
        <div class="row" style="padding-top: 20px; text-align: left;">
          <div style="padding-bottom: 18px">
            {% if request.user.is_authenticated %}
            <a>Hello {{ request.user|title }},</a>
            <a href="{% url 'account' %}">Account</a>
            <a href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'login' %}">Login</a>
          {% endif %}
          </div>
        </div>
        <br>
        <h4 style="margin-top: -34px">Group details</h4>
        <table style="border: 1px solid;">
          <tr>
          <th>Participants</th>
          {% for data in user_data %}
            <td>{{ data.name }}</td>
          {% endfor %}
          </tr>
          <tr>
          <th>Initial weight</th>
            {% for data in user_data %}
            <td>{{ data.weight }}</td>
            {% endfor %}
          </tr>
          <tr>
          <th>Goal</th>
            {% for data in user_data %}
            <td>{{ data.goal_weight }}</td>
            {% endfor %}
          </tr>
        </table>
        <br>
        <img src="/static/base/plots/pie_chart.png" alt="">
      </div>
      <div class="column">
        <img src="{{ tr_delta_btc_price_plot }}" alt="">
      </div>
      <div class="column">
        <img src="{{ new_wallets_btc_price_plot }}" alt="">
      </div>
    </div>
    {% for user, data in weight_context.items %}
      <table>
        <h4>{{ user }}</h4>
        {% for k, record in data.items %}
          <tr>
            <th>{{ k }}</th>
            {% for u in record %}
              {% if k == 'Date'  %}
                <td>{{ u|date:"d.m" }}</td>
              {% else %}
                <td>{{ u }}</td>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </tr>
      </table>
    <br>
    {% endfor %}
    <br>
{% endblock %}
