{% extends 'ffwc_app/base.html' %}
{% block content %}



  <div class="header-bar">
    <div>
      <h3>Hello {{ request.user|title }},</h3>
    </div>

    <h3>Group details</h3>

    <table>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Desired weight</th>
      </tr>
        <!-- <th>Name</th> -->

      {% for data in user_data %}
      <tr>
        <td>{{ data.name }}</td>
        <td>{{ data.weight }}</td>
        <td>{{ data.goal_weight }}</td>
        <!-- <td>Height {{ data.height }}</td> -->
      </tr>
      {% endfor %}

    </table>

    {% if request.user.is_authenticated %}
      <a href="{% url 'account' %}">Account</a>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>


{% endblock %}
