{% extends 'ffwc_app/base.html' %}
{% block content %}

    <a href="{% url 'update-weight' %}">Record weight</a>
    <h1>efef{{ user_data }}</h1>
    <table>
      <tr>
        <th>Personal details</th>
      </tr>
      {% for data in user_data %}
      <tr>
        <td>Name: {{ data.name }}</td>
      </tr>
      <tr>
        <td>Weight: {{ data.weight }} kg</td>
      </tr>
      <tr>
        <td>Desired weight: {{ data.goal_weight }} kg</td>
      </tr>
      <tr>
        <td>Height {{ data.height }}</td>
      </tr>
      <tr>
        <td><a href="{% url 'update-details' data.id %}">Edit details</a></td>
      </tr>
      {% empty %}
          <h2>Empty!</h2>
          <a href="{% url 'new-details' %}">Fill your personal details</a>
      {% endfor %}
    </table>

    <h3>Weight record</h3>
    <table>
      <tr>
        <th>Date</th>
        <th>Weight</th>
      </tr>
      {% for record in weight_update %}
      <tr>
        <td>{{ record.created }}</td>


        <td>{{ record.weight_update }} kg</td>
        <td><a href="{% url 'edit-update-weight' record.id %}">Edit</a></td>

      </tr>

      {% empty %}
          <h2>Empty!</h2>
      {% endfor %}
    </table>
  <a href="{% url 'group' %}">Back to group page</a>


{% endblock %}
